{% extends 'core/base.html' %} {% load static %} {% block head_title %}ABC COLLEGE STORE{% endblock %} {% block content %}
<form action="login" method="post">
  {% csrf_token %}

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="registerbtn">submit</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
<!--        <div class="container signin">-->
<!--    <p>Register Page<a href="register">Register</a>.</p>-->
<!--  </div>-->
  </div>
</form>
 <div class="flex justify-end w-full">
            <a href="register" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
        </div>
{% endblock %}
